
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://news.unl.edu/sites/default/files/styles/large_aspect/public/media/shutterstock_471693773.jpg);">
  <div class="container">

    <h1><strong>Welcome to BeyondSky</strong>!</h1>
    <% if user_signed_in? %>
      <p>Hello <%=current_user.name%>,</p>
    <% end %>
    <p>Change your life by renting a spaceship to travel the universe.</p>

      <div class="search-bar">

          <form action="spaceships#index" method="get" class="form-index-spaceships">

            <div class="search-form"><input class="" name="address" type="text" placeholder="address"></div>
            <div class="search-form"><input class="" name="capacity" type="text" placeholder="number of people"></div>
            <div class="search-form"><input class="datepicker" name="starts_at" required="false" ></div>
            <div class="search-form"><input class="datepicker" name="ends_at" required="false" ></div>

            <div class="search-form"><button name="button" type="submit" class="btn-genevieve">Search</button></div>

          </form>

      </div>



  </div>
</div>



<div class="main-container">

<h1>Discover our spaceships</h1>









<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://fr.web.img3.acsta.net/r_1920_1080/newsv7/16/12/14/12/51/4970480.jpg)">
    Millenium Faucon
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://fr.web.img3.acsta.net/r_1920_1080/newsv7/16/12/14/13/22/0998940.jpg)">
    J-type Star Skiff
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://fr.web.img4.acsta.net/r_1920_1080/newsv7/16/12/14/12/05/4799650.jpg)">
    TIE X1 avancé
  </div>
</div>

<div class="card-offer" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://fr.web.img3.acsta.net/r_1920_1080/newsv7/16/12/14/12/30/1039550.jpg)">
  <%= link_to "Offer a Spaceship experience", new_spaceship_path, class:"btn btn-offerspaceship" %>
</div>
</div>
