.main-container {
  width: 1200px;
  margin: 0 auto;
  // height: 100%;
  // display: flex;
  // margin-top: 25px;
}

.main-container h1 {
  font-size: 32px;
  margin-bottom: 25px;
}

.main-container p {
 margin-top: 10px;
 margin-bottom: 2px;
}
// ________________________________show spaceship ____________________
.space-show-container {

  width: 1200px;
  margin: 50px auto;
  min-height: 67vh;
  height: auto;
}

.space-show-container h1 {
  font-size: 32px;
  margin-bottom: 25px;
  margin-top: 25px;
}
