.form-spaceship {
  background-color: white;
  width: 350px;
  border-radius: 16px;
  // margin-bottom: 25px;
  display: flex;
  justify-content: center;
  border: 0px solid black;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  padding: 50px;
  margin: auto;
  color: black;
  font-weight: bolder;
  backdrop-filter: blur(10px);
}

.form-container {
  //background-color: #432944;
  //background: rgba(255,255,255,0.4);
  // padding-top: 53px;
  // height: auto;
  // margin: 30px;
   width: 1200px;
  //  margin: 50px auto;
   min-height: 67vh;
   height: auto;
   background-color: lavender;
}


.form-control {
  border:0px solid red;
  background-color: #F8F8F8;
  border-bottom: 1px solid black;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  transition: background 0.3s ease;
  // margin-bottom: 15px;
  color:#432944;
  background-color: lavender;
  box-shadow: 0 0 6px rgba(10, 7, 7, 0.5);
  border-radius: 6px;
  font-weight: bolder;
  padding: 8px 24px;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 25px;
}
