.form-spaceship {
  width: 350px;
  border-radius: 16px;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
  border: 0px solid black;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  padding: 50px;
  margin: auto;
  color: black;
  font-weight: bolder;
  backdrop-filter: blur(10px);
}

.form-container {
  background-color: #432944;
  background: rgba(255,255,255,0.4);
  padding-top: 53px;
  height: auto;
  margin: 30px;
}


.form-control {
  border:0px solid red;
  background-color: #F8F8F8;
  border-bottom: 1px solid black;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
