.search-bar {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.search-form {
  border: none;

  input {
  border: none;
  text-align: center;
  width: auto;

}
}

.form-index-spaceships {
  display: flex;
}
